<div class="container">
	<h1>Simple Date Converter</h1>
	<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
		<div class="form-group">
			<label for="date">Input RFC-3339 Formatted Date, example(2016-07-11T12:34:56.12+07:00)</label>
			<input type="text" class="form-control" id="date" required [(ngModel)]="model.date" name="date" #date="ngModel">
			<div [hidden]="date.valid || date.pristine" class="alert alert-danger">
				Field must be filled
			</div>
		</div>
		<button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Convert Date</button>
	</form>
</div>